﻿<template>
    <v-app id="inspire">
        <v-layout row wrap>
            <v-flex xs6 sm6 pb-0 pt-4>
                <!-- Aqui va el primer apartado para descargar layout -->
                Hola
                <v-jumbotron :gradient="gradient" dark height="50px">
                    <v-container fill-height>
                        <v-layout align-center>
                            <v-flex text-xs-center>
                                <span name="emp" style="color:white" class="title">Descarga Layout</span>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-jumbotron>
                <v-card>
                    <v-container fluid grid-list-lg dark>
                        <h1 class="display-3">Descarga</h1>
                        <p class="lead">Descarga el layout para tu proyecto.</p>
                        <hr class="my-4">
                        <p>Recuerda NO alterar ninguna columna y ningun renglon del layout .</p>
                    </v-container>
                </v-card>
                <v-card>
                    <v-container fluid grid-list-lg dark>
                        <v-combobox v-model="selectRegion"
                            :items="vRegion"
                            item-text="Descripcion"
                            label="Selecciona la región"
                            v-on:change="addRegionAndUsuarios"
                            multiple></v-combobox>
                    </v-container>
                </v-card>
            </v-flex>
            <v-flex xs6 sm6 pb-0 pt-4>
                <!-- Aqui va el primer apartado para subir layout -->
                Hola
                <v-jumbotron :gradient="gradient" dark height="50px">
                    <v-container fill-height>
                        <v-layout align-center>
                            <v-flex text-xs-center>
                                <span name="emp" style="color:white" class="title">Subir Layout</span>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-jumbotron>
                <v-card>
                    <v-container fluid grid-list-lg dark>
                        <h1 class="display-3">Subir</h1>
                        <p class="lead">Sube el layout para tu proyecto.</p>
                        <hr class="my-4">
                        <p>Selecciona el layot que deseas subir.</p>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-app>
</template>

<script>
import axios from 'axios';
import vue2dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
    name: 'Users',
    prop: {

    },
    created: function(){

    },
    data(){
        return {
            gradient: 'to top, #0F1F40, #0F1F40',
            gradientMesa: 'to left, #78909C, #263238',
            Validado: false,
            vUsuario: {},
            vDocumentos: [],
            vTipoDocumento: {},
            vDocumento: {},
            vRegion: {},
            dialogUpload: false,
            dialogFrame: false,
            headers: [
                { text: 'Id', align: 'center', value: 'IdTipoDocumento'},
                { text: 'Documento', value: 'Descripcion'  },
            ],
            dropzoneOptions: {
                url: '/Upload/SaveDocument',
                thumbnailWidth: 250,
                maxFiles: 1, 
                thumbnailHeight: 150,
                addRemoveLinks: true,
                dictMaxFilesExceeded: "Solo se acepta un solo archivo xls o xlsx",
                acceptedFiles: "image/*,application/pdf",
                dictInvalidFileType: "Por favor solo se aceptan archivos xls o xlsx",
                dictDefaultMessage: "<i class='fas fa-cloud-upload-alt'></i><br/>Arrastre aquí el archivo (jpg/png/pdf) o de un click aquí para subirlo",
                headers: { "My-Awesome-Header": "header value" },
                previewTemplate: this.template(),
            },
        }
    },
    methods: {
        template: function () {
            return `<div class="dz-preview dz-file-preview">
                <div class="dz-image">
                    <div data-dz-thumbnail-bg></div>
                </div>
                <div class="dz-details">
                    <div class="dz-size"><span data-dz-size></span></div>
                    <div class="dz-filename"><span data-dz-name></span></div>
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                <div class="dz-error-mark"><i class="fa fa-close"></i></div>
            </div>`;
        },
        getRegions() {
            try {
                axios.get("/Region/getRegionByUser")
                    .then((response) => {
                        if (response.data.Success) {
                            this.fltcliente = response.data.Data;
                        }
                        else {
                            this.$root.toastv(response.data.Message, 2);
                        }
                    })
                    .catch((error) => {
                        this.$root.toastv(error, 2);
                    });
            } catch (error) { this.$root.toastv(error, 2); }
        }
    }
}
</script>script