<template>
    <div>        

    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'home',
    props: {
    },
    data () {
        return {
            tSession: 0,
        }
    },
    mounted () {
        this.Default();
    },
    methods: {
        Default(){
            
        }
    }
}
</script>

<style>
</style>
