﻿<template>
    <div>
        <v-app id="inspire">
            <v-card class="xs12" color="info">
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap>
                        <v-flex xs4>
                            <v-combobox v-model="selectCliente"
                                        :items="fltcliente"
                                        item-text="Nombre"
                                        label="Selecciona cliente"
                                        v-on:change="addProyecto"
                                        browser-autocomplete
                                        multiple></v-combobox>
                        </v-flex>
                        <v-flex xs4>
                            <v-combobox v-model="selectProyecto"
                                        :items="fltproyecto"
                                        item-text="Descripcion"
                                        label="Selecciona el proyecto"
                                        v-on:change="addRegionAndUsuarios"
                                        browser-autocomplete
                                        multiple></v-combobox>
                        </v-flex>
                        <v-flex xs4>
                            <v-combobox v-model="selectRegion"
                                        :items="fltregion"
                                        item-text="Descripcion"
                                        label="Selecciona la region"
                                        v-on:change="addUsuarios"
                                        browser-autocomplete
                                        multiple></v-combobox>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
            <v-card class="xs12" color="info">
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap>
                        <v-flex xs6 sm6 md4>
                            <treeselect v-on:select="Addnode"
                                        v-on:deselect="Removenode"
                                        :multiple="true" :options="options" />
                        </v-flex>
                        <v-flex xs4 sm4>
                            <v-dialog ref="dialog"
                                      v-model="modal"
                                      lazy
                                      full-width
                                      width="50%">
                                <v-text-field slot="activator"
                                              v-model="range"
                                              label="Rango de Fechas"
                                              prepend-icon="event"
                                              readonly></v-text-field>
                                <v-card class="daterange--no-preset" aling="center">
                                    <v-toolbar dark
                                               flat
                                               color="primary">
                                        <v-toolbar-title>Rango de fechas.</v-toolbar-title>
                                    </v-toolbar>
                                    <v-card-text dark>
                                        <p>
                                            Rango:
                                            <v-chip>{{ range[0] }}</v-chip> A:
                                            <v-chip>{{ range[1] }}</v-chip>
                                        </p>
                                        <p>Las fechas tienen una seleccion por default quincenal.</p>
                                        <v-daterange :options="dateRangeOptions"
                                                     no-presets
                                                     @input="onDateRangeChange" />
                                    </v-card-text>
                                    <v-btn color="green darken-1" flat @click.native="buscarUsuario">Aceptar</v-btn>
                                </v-card>
                            </v-dialog>
                        </v-flex>

                    </v-layout>
                </v-container>
            </v-card>
            <v-card class="xs2">
                <v-card-title>
                    Reporte de Empleados vigentes
                    <v-spacer></v-spacer>

                </v-card-title>
                <v-card-actions>
                    <v-flex xs12 sm6>
                        <v-text-field @change="buscarUsuario"
                                      v-model="search"
                                      append-icon="search"
                                      label="Buscar"
                                      single-line
                                      hide-details></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <p class="text-xs-right">
                            <v-tooltip bottom>
                                <v-btn slot="activator" @click="exportaExcel"
                                       fab dark medium color="green">
                                    <v-icon dark>description</v-icon>
                                </v-btn>
                                <span>Exporta a Excel</span>
                            </v-tooltip>
                        </p>
                    </v-flex>

                </v-card-actions>
                <v-data-table :headers="headers"
                              :items="asistencias"
                              :pagination.sync="pagination"
                              :total-items="totalAsistencias"
                              :loading="loading"
                              class="elevation-1">
                    <template slot="headerCell" slot-scope="props">
                        <span class="text-xs-center">
                            &nbsp; {{ props.header.text }}<br />
                            {{   props.header.dia }}
                        </span>
                    </template>
                    <template slot="items" slot-scope="props">
                        <td>
                            <v-tooltip bottom>
                                <v-btn small slot="activator" @click="vermapa(props.item)"
                                       color="primary"
                                       dark>
                                    {{ props.item.Nombre }}
                                </v-btn>
                                <span>Click para ver mapa!!</span>
                            </v-tooltip>
                        </td>
                        <td v-for="(asistencias, index) in props.item.Asistencia" class="text-xs-center">{{ asistencias.Asistio }}</td>
                        <td class="text-xs-center">{{ props.item.DiasAsistidos }}</td>
                    </template>
                    <template slot="no-data">
                        <v-alert :value="true" color="info" icon="warning">
                            Seleccione un criterio de busqueda :D
                        </v-alert>
                    </template>
                </v-data-table>
            </v-card>
            <v-layout row justify-center>
                <v-dialog v-model="dialog" persistent max-width="290">
                    <!--<v-btn slot="activator" color="primary" dark>Open Dialog</v-btn>-->
                    <v-card>
                        <v-card-title class="headline">Cargando información...</v-card-title>
                        <v-card-text class="text-md-center">
                            <v-progress-circular :size="70"
                                                 :width="7"
                                                 color="purple"
                                                 indeterminate></v-progress-circular>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>

                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>
            <v-layout row justify-center>
                <!--<v-btn color="primary" dark @click="dialog = true">Open Dialog 1</v-btn>-->
                <v-dialog v-model="dialogMap"
                          fullscreen
                          hide-overlay
                          transition="dialog-bottom-transition"
                          scrollable>
                    <v-card tile>
                        <v-toolbar card dark color="primary">
                            <v-btn icon dark @click.native="dialogMap = false">
                                <v-icon>close</v-icon>
                            </v-btn>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-card-text>
                            <div id="map_canvas">


                            </div>
                        </v-card-text>
                        <div style="flex: 1 1 auto;"></div>
                    </v-card>
                </v-dialog>
            </v-layout>
        </v-app>

    </div>
</template>


<script>
    import axios from 'axios'
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'
    import { format, subDays } from 'date-fns';
    import parse from 'date-fns/parse'
    import addDays from 'date-fns/add_days'
    import { debug } from 'util';
    import moment from 'moment'
    export default {
        name: 'treereport',
        props: {
        },
        created: function () {
            this.gotofltCliente();
            this.TraerFecha();
        },
        data() {
            return {
                range: [],
                dateRangeOptions: {
                    startDate: [],
                    endDate: [],
                    format: 'MM/DD/YYYY',
                },
                datefinal: null,
                menu: false,
                modal: false,
                menu2: false,
                vTreesel: [],
                vTreeselSearch: [],
                fltcliente: [],
                fltproyecto: [],
                fltregion: [],
                selectCliente: [],
                selectProyecto: [],
                selectRegion: [],
                options: [],
                search: '',
                totalAsistencias: 0,
                asistencias: [],
                loading: true,
                pagination: {},
                headers: [],
                loader: null,
                loading4: false,
                time1: 0,
                time2: 0,
                dialog: false,
                dialogMap: false,
                map: {},
                vMapa: {
                    markTienda: {},
                    markers: [],
                    center: { lat: 19.363472, lng: -99.158992 },
                    currentPlace: null,
                    places: [],
                    NombreTienda: "",
                },
                latlngTienda: {},
                asistenciasMap: []
            }
        },
        watch: {
            pagination: {
                handler() {
                    this.getDataFromApi();
                },
                deep: true
            }
        },
        mounted() {
            this.Default();
            this.getDataFromApi();
            //this.$root.snakCall("Datos cargados", 0);
        },
        methods: {
            Default() {

            },
            gotofltCliente() {
                try {
                    axios.get("/Cliente/gefltCliente")
                        .then((response) => {
                            if (response.data.Success) {
                                this.fltcliente = response.data.Data;
                            }
                            else {
                                this.$root.toastv(response.data.Message, 2);
                            }
                        })
                        .catch((error) => {
                            this.$root.toastv(error, 2);
                        });
                } catch (error) { this.$root.toastv(error, 2); }
            },
            addProyecto() {
                try {
                    if (this.selectCliente.length != 0) {
                        var js = {
                            obj: this.selectCliente

                        };
                        axios.post("/Proyecto/gefltProyectoCliente", js)
                            .then((response) => {
                                if (response.data.Success) {
                                    this.fltproyecto = response.data.Data;
                                    for (var i = 0; i < this.selectProyecto.length; i++) {
                                        var obj = this.selectProyecto[i];
                                        var bC = this.fltproyecto.find(a => a.IdCliente == obj.IdCliente);
                                        if (bC == undefined) {
                                            let index = this.selectProyecto.indexOf(obj);
                                            this.selectProyecto.splice(index, 1);
                                        }
                                    }

                                    for (var i = 0; i < this.selectRegion.length; i++) {
                                        var obj = this.selectRegion[i];
                                        var bC = this.fltproyecto.find(a => a.IdCliente == obj.IdCliente);
                                        if (bC == undefined) {
                                            let index = this.selectRegion.indexOf(obj);
                                            this.selectRegion.splice(index, 1);
                                        }
                                    }
                                }
                                else {
                                    this.$root.toastv(response.data.Message, 2);
                                }
                            })
                            .catch((error) => {
                                this.$root.toastv(error, 2);
                            });
                    }
                    else {
                        this.fltproyecto = [];
                        this.selectProyecto = [];
                        this.fltregion = [];
                        this.selectRegion = [];
                    }
                } catch (error) { this.$root.toastv(error, 2); }
            },
            addRegionAndUsuarios() {
                debugger
                try {
                    if (this.selectProyecto.length != 0) {
                        var js = {
                            obj: this.selectProyecto
                        };
                        axios.post("/Region/gefltRegionCliente", js)
                            .then((response) => {
                                if (response.data.Success) {
                                    this.fltregion = response.data.Data.regionDto;
                                    this.options = response.data.Data.userTree;
                                    for (var i = 0; i < this.selectRegion.length; i++) {
                                        var obj = this.selectRegion[i];
                                        var bC = this.fltregion.find(a => a.IdProyecto == obj.IdProyecto);
                                        if (bC == undefined) {
                                            let index = this.selectRegion.indexOf(obj);
                                            this.selectRegion.splice(index, 1);
                                        }
                                    }
                                }
                                else {
                                    this.$root.toastv(response.data.Message, 2);
                                }
                            })
                            .catch((error) => {
                                this.$root.toastv(error, 2);
                            });
                    }
                    else {
                        this.fltregion = [];
                        this.selectRegion = [];
                        this.options = [];
                        this.vTreesel = []
                    }
                } catch (error) { this.$root.toastv(error, 2); }
            },
            addUsuarios() {
                try {
                    if (this.selectRegion.length != 0) {
                        var js = {
                            obj: this.selectRegion
                        };
                        axios.post("/UsuarioRegion/getUsuarioRegion", js)
                            .then((response) => {
                                if (response.data.Success) {
                                    this.options = response.data.Data;
                                }
                                else {
                                    this.$root.toastv(response.data.Message, 2);
                                }
                            })
                            .catch((error) => {
                                this.$root.toastv(error, 2);
                            });
                    }
                } catch (error) { this.$root.toastv(error, 2); }
            },
            Addnode(e) {
                debugger
                this.dialog = true;
                var lstSelectPlana = [];
                lstSelectPlana = this.vTreesel;
                function addlistaplana(nodo) {
                    var nodoSeleccionado = { id: nodo.id, nombre: nodo.label }
                    lstSelectPlana.push(nodoSeleccionado);
                    nodo.children.forEach(addlistaplana);
                }
                addlistaplana(e);
                this.vTreesel = lstSelectPlana;
                var ids = this.vTreesel.map((e) => e.id);
                this.getDataFromApi()


            },
            Removenode(e) {
                debugger
                this.dialog = true;
                var lstSelectPlana = [];
                lstSelectPlana = this.vTreesel;
                function deletelistaplana(nodo) {
                    var nodoSeleccionado = { id: nodo.id, nombre: nodo.label }
                    var nodolistaplana = lstSelectPlana.find(s => s.id == nodoSeleccionado.id);
                    let index = lstSelectPlana.indexOf(nodolistaplana);
                    lstSelectPlana.splice(index, 1);
                    nodo.children.forEach(deletelistaplana);
                }
                deletelistaplana(e);
                this.vTreesel = lstSelectPlana;

                var ids = this.vTreesel.map((e) => e.id);
                if (this.vTreesel.length == 0) {
                    this.$root.toastv("Elija un miembro del árbol", 2);
                    this.dialog = false;
                    return;
                }
                this.getDataFromApi()

            },
            getDataFromApi() {
                debugger
                this.loading = true;
                try {
                    var end = this.pagination.page * this.pagination.rowsPerPage;
                    var skip = end - this.pagination.rowsPerPage;
                    if (this.vTreeselSearch.length != 0) {
                        var ids = this.vTreeselSearch.map((s) => s.id)

                    }
                    else {
                        var ids = this.vTreesel.map((s) => s.id)
                    }

                    var js = {
                        idUsuario: ids,
                        fecha: this.range,
                        pag: this.pagination,
                        search: this.search

                    };
                    axios.post("/Asistencia/GetDataAsistencia", js)
                        .then((response) => {
                            if (response.data.Success) {
                                this.asistencias = response.data.Data.dataAsistencia;
                                if (this.vTreeselSearch.length != 0) {
                                    this.totalAsistencias = this.vTreeselSearch.length;
                                }
                                else {
                                    this.totalAsistencias = this.vTreesel.length;
                                }
                                this.loading = false;
                                this.headers = response.data.Data.Header;
                                this.dialog = false;
                                this.modal = false;
                            }
                            else {
                                this.loading = false;
                                this.dialog = false;
                                this.modal = false;
                                this.$root.toastv(response.data.Message, 2);
                            }
                        })
                        .catch((error) => {
                            this.loading = false;
                            console.log(error);
                            this.$root.toastv(error, 2);
                        });
                } catch (error) {
                    this.loading = false;
                    this.$root.toastv(error, 2);
                }


            },
            TraerFecha() {
                try {
                    axios.get("/Asistencia/getDateTime")
                        .then((response) => {
                            if (response.data.Success) {
                                debugger
                                this.dateRangeOptions.startDate = format(addDays(new Date(response.data.Data[0]), 2), 'YYYY-MM-DD');
                                this.dateRangeOptions.endDate = response.data.Data[1];
                                this.range = response.data.Data;
                            }
                            else {
                                this.$root.toastv(response.data.Message, 2);
                            }
                        })
                        .catch((error) => {
                            this.$root.toastv(error, 2);
                        });
                } catch (error) { this.$root.toastv(error, 2); }
            },
            buscarUsuario() {
                debugger
                try {
                    var valorbuscar = this.search;
                    var lstSelectBuscar = [];
                    //var buscar = this.vTreesel.find(s => s.nombre.toLowerCase() == valorbuscar.toLowerCase());
                    var buscar = this.vTreesel.filter(s => s.nombre.toLowerCase().match(valorbuscar.toLowerCase()));
                    if (valorbuscar == "") {
                        this.vTreeselSearch = [];
                    }
                    else if (buscar.length == 0) {
                        var search = { id: 0, nombre: "Sin dato" }
                        this.vTreeselSearch.push(search);
                    }
                    else {
                        function addRange(element) {
                            var elementoParse = { id: element.id, nombre: element.nombre }
                            lstSelectBuscar.push(elementoParse);
                        }
                        buscar.forEach(addRange);

                        this.vTreeselSearch = lstSelectBuscar;
                    }
                    this.getDataFromApi();
                } catch (error) { this.$root.toastv(error, 2); }
            },
            exportaExcel() {
                debugger
                self = this;

                if (this.vTreeselSearch.length != 0) {
                    var ids = this.vTreeselSearch.map((s) => s.id)

                }
                else {
                    var ids = this.vTreesel.map((s) => s.id)
                }

                var xhr = new XMLHttpRequest();
                xhr.open('POST', "/Asistencia/exportaExcel", true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                xhr.responseType = 'blob';
                var param = JSON.stringify({ idsu: ids, fechainicial: this.range[0], fechafinal: this.range[1] });
                xhr.send(param);

                xhr.onload = function (e) {
                    if (this.status == 200) {
                        var blob = new Blob([this.response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;' });
                        var a = document.createElement("a");
                        a.style = "display: none";
                        document.body.appendChild(a);
                        var url = window.URL.createObjectURL(blob);
                        a.href = url;

                        var filename = "";
                        var disposition = xhr.getResponseHeader('Content-Disposition');
                        if (disposition && disposition.indexOf('attachment') !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(disposition);
                            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                        }
                        a.download = filename;
                        a.click();
                        window.URL.revokeObjectURL(url);
                        //alert("Tu archivo fue descargado", "Impresion");
                        self.$root.toastv("Tu archivo fue descargado", 0);
                    } else {
                        this.$root.toastv(response.data.Message, 2);
                    }
                };
            },
            onDateRangeChange(range) {
                this.range = range;
            },
            vermapa(e) {
                var self = this;
                self.dialogMap = true;

                var js = {
                    idUsuarios: e.IdUsuario,
                    fechainicial: this.range[0],
                    fechafinal: this.range[1]
                };
                try {
                    axios.post("/Asistencia/asistenciasUsuario", js)
                        .then((response) => {
                            if (response.data.Success) {
                                this.asistenciasMap = response.data.Data;
                                new Promise((re, r) => { self.initMap(e) })
                            }
                            else {
                                this.$root.toastv(response.data.Message, 2);
                            }
                        })
                        .catch((error) => {
                            this.$root.toastv(error, 2);
                        });
                } catch (error) { this.$root.toastv(error, 2); }

                //self.initMap(e);
            },
            attachSecretMessage(marker, detail, status) {
                if (status == 0) {
                    var infowindow = new google.maps.InfoWindow({
                        content: '<h2><p style="color:green;">Entrada</h2></p>' + '<p style="color:green;font-weight:bold;">' + detail.Cadena + ' - ' + detail.NombreTienda + '</p></br><p style="color:green;font-weight:bold;">' + detail.StartDate + '</p>'
                    });
                    marker.addListener('click', function () {
                        infowindow.open(marker.get('map'), marker);
                    });
                }
                else {
                    var infowindow = new google.maps.InfoWindow({
                        content: '<h2><p style="color:blue;">Salida</h2></p>' + '<p style="color:blue;font-weight:bold;">' + detail.Cadena + ' - ' + detail.NombreTienda + '</p></br><p style="color:blue;font-weight:bold;">' + detail.EndDate + '</p>'
                    });
                    marker.addListener('click', function () {
                        infowindow.open(marker.get('map'), marker);
                    });
                }
            },
            initMap(d) {
                debugger
                var self = this;

                var lat = 0;
                var long = 0;
                var countlat = 0;
                var countlong = 0;

                var asistenciasUsuario = self.asistenciasMap;
                for (var j = 0; j < asistenciasUsuario.length; j++) {
                    var asistencias = self.asistenciasMap[j].Children;
                    for (var i = 0; i < asistencias.length; i++) {
                        if (asistencias[i].LatitudEntrada != 0) {
                            countlat += 1;
                            countlong += 1;
                        }
                        lat += asistencias[i].LatitudEntrada;
                        long += asistencias[i].LongitudEntrada;
                    }
                }

                lat = lat / countlat;
                long = long / countlong;

                self.latlngTienda = new google.maps.LatLng(lat, long);
                var myOptions = {
                    zoom: 14,
                    center: self.latlngTienda,
                };

                var map = new google.maps.Map(map_canvas, myOptions);

                for (var j = 0; j < asistenciasUsuario.length; j++) {

                    var asistencias = self.asistenciasMap[j].Children;

                    for (var i = 0; i < asistencias.length; i++) {
                        var detail = asistencias;
                        if (detail[i].LatitudEntrada != 0) {

                            var marker = new google.maps.Marker({
                                position: {
                                    lat: detail[i].LatitudEntrada,
                                    lng: detail[i].LongitudEntrada
                                },
                                map: map
                            });
                            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
                            self.attachSecretMessage(marker, detail[i], 0);

                            var marker = new google.maps.Marker({
                                position: {
                                    lat: detail[i].LatitudSalida,
                                    lng: detail[i].LongitudSalida
                                },
                                map: map
                            });
                            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
                            self.attachSecretMessage(marker, detail[i], 1);
                        }
                    }
                }
            }
        },
        components: {
            Treeselect
        },
    }
</script>



<style>
    #map_canvas {
        height: 500px;
        width: 100%;
    }

    .a {
        height: 500px;
        width: 100%;
        overflow-y: auto;
    }
</style>


<style>

    .vue-treeselect__control {
        border: 1px solid #9e2a2b !important;
        background: #9e2a2b !important;
    }

    .vue-treeselect__placeholder {
        color: #FFF !important;
    }

    .vue-treeselect__multi-value-item {
        cursor: pointer;
        display: inline-table;
        background: #424242 !important;
        padding: 2px 0;
        border: 1px solid transparent;
        border-radius: 2px;
        color: #039BE5 !important;
        font-size: 12px;
        vertical-align: top;
    }

    .vue-treeselect--disabled .vue-treeselect__multi-value-item {
        cursor: default;
        background: #9e2a2b !important;
        border-color: #e5e5e5 !important;
        color: #555 !important;
    }

    .vue-treeselect__value-remove {
        color: #039BE5 !important;
        padding-left: 5px;
        border-left: 1px solid #9e2a2b !important;
        line-height: 0;
    }

    .vue-treeselect__menu {
        cursor: default;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        width: auto;
        border: 1px solid #965657 !important;
        background: #965657 !important;
        line-height: 180%;
        -webkit-overflow-scrolling: touch;
    }

    .vue-treeselect--open-below .vue-treeselect__menu {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        top: 0;
        margin-top: -1px;
        border-top-color: #965657 !important;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }

    .vue-treeselect--open-above .vue-treeselect__menu {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        bottom: 0;
        margin-bottom: -1px;
        border-bottom-color: #965657 !important;
    }

    .vue-treeselect__option--highlight {
        background: rgb(255, 113, 113) !important;
    }

    .vue-treeselect--single .vue-treeselect__option--selected {
        background: #424242 !important;
        font-weight: 600;
    }

        .vue-treeselect--single .vue-treeselect__option--selected:hover {
            background: #424242 !important;
        }

    .vue-treeselect__checkbox--unchecked {
        border-color: #9e2a2b !important;
        background: #9e2a2b !important;
    }

    .vue-treeselect__label-container:hover .vue-treeselect__checkbox--unchecked {
        border-color: #039BE5 !important;
        background: #9e2a2b !important;
    }

    .vue-treeselect__checkbox--disabled {
        border-color: #9e2a2b !important;
        background-color: #f7f7f7 !important;
    }

    .vue-treeselect__label-container:hover .vue-treeselect__checkbox--disabled {
        border-color: #9e2a2b !important;
        background-color: #f7f7f7 !important;
    }

    .vue-treeselect__icon-warning::after {
        display: block;
        position: absolute;
        content: "";
        left: 5px;
        top: 2.5px;
        width: 2px;
        height: 1px;
        border: 0 solid #9e2a2b !important;
        border-top-width: 5px;
        border-bottom-width: 1px;
    }

    .vue-treeselect__icon-error::before,
    .vue-treeselect__icon-error::after {
        display: block;
        position: absolute;
        content: "";
        background: #9e2a2b !important;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
