﻿<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Asistencia</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='../../favicon.ico' />
</head>
de 
<body>
    @RenderBody()
    <div id="app">
        <Vapp name="principal" :vsnackbar="vsnackbar" :esbusy="isbusy"></Vapp>
    </div>
    @*<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>*@
    <script src="~/Scripts/bundle/Main.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP8t36xlEE2jRavGiBYpHXkYs6gzAez6E&libraries=places">
    </script>
</body>

</html>
